<div class="content boxshadow" dpfContent>
  <h2>Account </h2>
  <div class="dpfoverflowwrapper" dpfOverflowWrapper>
    <div class="spacer20"></div>

    <div class="container-flex userform">
      <h2>Your Account data</h2>
      <form *ngIf="user" name="userForm" [formGroup]="userForm">
        <div class="spacer20"></div>
        <mat-form-field>
          <input type="text" formControlName="lastname" matInput name="lastname" #lastname placeholder="Lastname*" >
          <mat-error [hidden]="lastname.valid || lastname.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input   type="text" formControlName="firstname" matInput name="firstname" #firstname placeholder="Firstname*">
          <mat-error [hidden]="firstname.valid || firstname.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="department" matInput name="department" #department placeholder="Department*">
          <mat-error [hidden]="department.valid || department.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="street" matInput name="street" #street placeholder="Street*">
          <mat-error [hidden]="street.valid || street.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="zipcode" matInput name="zipcode" #zipcode placeholder="Zipcode*">
          <mat-error [hidden]="zipcode.valid || zipcode.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="city" matInput name="city" #city placeholder="City*">
          <mat-error [hidden]="city.valid || city.pristine">required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="country"  #country placeholder="Country*">
            <mat-optgroup *ngFor="let continent of countries">{{continent[0].Continent}}
              <mat-option value="{{land.Name}}" *ngFor="let land of continent">{{land.Name}}</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="phone" matInput name="phone" #phone placeholder="Phone*">
          <mat-error [hidden]="phone.valid || phone.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="fax" matInput name="fax" #fax placeholder="Fax">
          <mat-error [hidden]="city.valid || city.pristine">required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="email" matInput name="email" #email placeholder="E-Mail*">
          <mat-error [hidden]="(email.valid || email.pristine)">
            <span *ngIf="email.errors && email.errors.required">required</span>
            <span *ngIf="email.errors && email.errors.email">Please insert a valid E-Mail address</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="costcentre" matInput name="costcentre" #costcentre placeholder="Cost Centre*">
          <mat-error [hidden]="costcentre.valid || costcentre.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="costcentrecountry"  #costcentrecountry placeholder="Cost Centre Country*">
            <mat-optgroup *ngFor="let continent of countries">{{continent[0].Continent}}
              <mat-option value="{{land2.Code}}" *ngFor="let land2 of continent">{{land2.Name}}</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>



        <p>Fields labeled with a * are required</p>
        <br class="spacer20" />
        <button (click)="onSubmit()" mat-raised-button>Save</button>
        <div class="spacer20"></div>
      </form>
    </div>
  </div>
</div>
