<div class="clogin boxshadow">
  <h2>Register</h2>
  <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="spacer20"></div>
    <mat-form-field>
      <input type="text" formControlName="lastname" matInput name="lastname" #lastname placeholder="Lastname">
      <mat-error [hidden]="lastname.valid || lastname.pristine">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input  ###{{error.errors}}###put type="text" formControlName="firstname" matInput name="firstname" #firstname placeholder="Firstname">
      <mat-error [hidden]="firstname.valid || firstname.pristine">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" formControlName="department" matInput name="department" #department placeholder="Department">
      <mat-error [hidden]="department.valid || department.pristine">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" formControlName="street" matInput name="street" #street placeholder="Street">
      <mat-error [hidden]="street.valid || street.pristine">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" formControlName="zipcode" matInput name="zipcode" #zipcode placeholder="Zipcode">
      <mat-error [hidden]="zipcode.valid || zipcode.pristine">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" formControlName="city" matInput name="city" #city placeholder="City">
      <mat-error [hidden]="city.valid || city.pristine">required</mat-error>
    </mat-form-field>
    <div class="spacer20"></div>
    <button type="submit" mat-raised-button>Register</button>
    <div class="spacer20"></div>

  </form>
  <a routerLink="/login">back to login</a>
</div>
