<span style="font-size:200%;margin:60px 20px 0 0;padding:20px;background-color:transparent;" routerLink="/order2" class="close icon-cancel"></span>

<div class="start">
    <h3><i class="fa icon-attention"></i>Before entering the „Display Factory“ use this checklist to make sure you have all relevant information at hand!</h3>
    <div class="spacer20"></div>
    <ul>
        <li>You need a SAP access</li>
        <li>SAP order number is at hand</li>
        <li>Apo planning has been done beforehand (min 3 months before the promotion starts)</li>
        <li>Details like cost center, delivery addresses etc are available</li>
        <li>Lead time for Displays up to 5 weeks after order placement (depends on product availability)</li>
        <li>During the process of ordering you can save your unfinished order anytime</li>
    </ul>

    <ul>
        <li>Please click on the link to find the manual on how to book the orders</li>
    </ul>
</div>

<button routerLink="/order2" mat-raised-button>Continue</button>
