<span style="font-size:200%;margin:60px 20px 0 0;padding:20px;background-color:transparent;" routerLink="/order1" class="close icon-cancel"></span>

<div class="start">
    <h3><i class="fa icon-attention"></i>Before entering the "Display Factory" use this CHECK LIST
    to make sure, you have all relevant information at hand !!</h3>
    <div class="spacer20"></div>
    <ul>
        <li>All products have already been ordered in SAP</li>
        <li>SAP order number is at hand</li>
        <li>I know if I will use a standard top-sign.<br>
        If I create my own or use a template, I have all
        relevant information available</li>
        <li>Details like cost centre, delivery addresses etc
        are available</li>
        <li>By-pack material is ready to be despatched
        - I have the required weight information at hand</li>
    </ul>

    <ul>
        <li>When you’re in the process of ordering you can save your unfinished order anytime ! - use "My Account" to re-enter your</li>
    </ul>
</div>

<button routerLink="/order1" mat-raised-button>Continue</button>
