<div class="content boxshadow" dpfContent>
  <h2>Account </h2>
  <div class="dpfoverflowwrapper" dpfOverflowWrapper>
    <div class="spacer20"></div>

    <div class="container-flex userform">
      <h2>Change your password</h2>
      <form *ngIf="user" name="userForm" [formGroup]="passwordForm">
        <div class="spacer20"></div>
        <mat-form-field>
          <input type="password" formControlName="password" matInput name="password" #password placeholder="Passoword*" >
          <mat-error [hidden]="password.valid || password.pristine">required, min 8 signs</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" formControlName="passwordre" matInput name="passwordre" #passwordre placeholder="Retype password*" >
          <mat-error [hidden]="passwordre.valid || passwordre.pristine">required, min 8 signs</mat-error>
        </mat-form-field>


        <p>Fields labeled with a * are required</p>
        <br class="spacer20" />
        <button (click)="onSubmit()" mat-raised-button>Save</button>
        <div class="spacer20"></div>
      </form>
    </div>
  </div>
</div>
