<div class="content boxshadow" dpfContent>
  <h2>Articles <i class="fa icon-plus new" (click)="showNew()">Add new</i></h2>
  <div class="dpfoverflowwrapper" dpfOverflowWrapper>
    <div class="spacer20"></div>
    <table>
      <tr>
        <td>
          <i class="fa icon-search"></i><input placeholder="Article Number"(ngModelChange)="filter.articlenr=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.articlenr" class=" filter" type="text"  name="articlenrFilter" >
        </td>
        <td>
            <i class="fa icon-search"></i><input placeholder="Title" (ngModelChange)="filter.title=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.title" class="filter" type="text"  name="titleFilter" >
        </td>
        <td>
            <i class="fa icon-search"></i><input placeholder="Extra" (ngModelChange)="filter.extra=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.extra" class="filter" type="text"  name="extraFilter" >
        </td>
        <td>
            <i class="fa icon-search"></i><input placeholder="Type" (ngModelChange)="filter.type=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.type" class="filter" type="text"  name="typeFilter" >
        </td>
        <td>
            <i class="fa icon-search"></i><input placeholder="Packaging" (ngModelChange)="filter.packaging=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.packaging" class="filter" type="text"  name="packagingFilter" >
        </td>
        <td>
            <i class="fa icon-search"></i><input placeholder="Weight" (ngModelChange)="filter.weight=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.weight" class="filter" type="text"  name="weightFilter" >
        </td>
        <td>
            <i class="fa icon-search"></i><input placeholder="Topsign" (ngModelChange)="filter.topsign=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.topsign" class="filter" type="text"  name="topsignFilter" >
        </td>

      </tr>
    </table>
    <div class="hr"></div>
      <table mat-table matSort [dataSource]="dataSource" >

        <ng-container matColumnDef="articlenr">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Articel Number
            </th>
          <td mat-cell *matCellDef="let part"> {{part.articlenr}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Title
          </th>
          <td mat-cell *matCellDef="let part"> {{part.title}} </td>
        </ng-container>

        <ng-container matColumnDef="extra">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Extra
          </th>
          <td mat-cell *matCellDef="let part"> {{part.extra}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Type
          </th>
          <td mat-cell *matCellDef="let part"> {{part.type}} </td>
        </ng-container>

        <ng-container matColumnDef="packaging">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Packaging
          </th>
          <td mat-cell *matCellDef="let part"> {{part.type}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Weight
          </th>
          <td mat-cell *matCellDef="let part"> {{part.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="topsign">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            Topsign
         </th>
          <td mat-cell *matCellDef="let part">
              {{part.topsign}}
          </td>
        </ng-container>

        <ng-container matColumnDef="hidden">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            Hidden
          </th>
          <td mat-cell *matCellDef="let part"> {{part.deleted}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Edit
          </th>
          <td class="edit" (click)="setCurrentDataSet(part)" mat-cell *matCellDef="let part"> <i class="fa icon-edit edit"></i> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>
              Delete
          </th>
          <td class="edit" (click)="showDelete(part)" mat-cell *matCellDef="let part"> <i class="fa icon-trash-empty delete"></i> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let part; columns: columnsToDisplay"></tr>
      </table>
    </div>
</div>
<div class="overlaybg" *ngIf="ui.showOverlay"></div>
<div class="overlay" *ngIf="ui.showEditNew">
  <div class="overlay-content">
    <span (click)="currentDataSet = null;ui.showOverlay = false" class="close">X</span>
    <h3 class="fa icon-edit">Display&nbsp;Part</h3>
    <p>{{currentDataSet.title}}</p>
    <hr />
    <div class="container-flex">
      <form name="displayPartForm" [formGroup]="articleForm">
        <div class="spacer20"></div>
        <mat-form-field>
          <input type="text" formControlName="articlenr" matInput name="articlenr" #articlenr placeholder="Articlenr*">
          <mat-error [hidden]="articlenr.valid || articlenr.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="title" matInput name="title" #title placeholder="Title*">
          <mat-error [hidden]="title.valid || title.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="extra" matInput name="extra" #extra placeholder="Extra">
          <mat-error [hidden]="extra.valid || extra.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="type" matInput name="type" #type placeholder="Type">
          <mat-error [hidden]="type.valid || type.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="packaging" matInput name="packaging" #packaging placeholder="Packaging">
          <mat-error [hidden]="packaging.valid || packaging.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="weight" matInput name="weight" #weight placeholder="Weight">
          <mat-error [hidden]="weight.valid || weight.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="topsign" matInput name="topsign" #topsign placeholder="Topsign">
          <mat-error [hidden]="topsign.valid || topsign.pristine">required</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="hidden" matInput name="hidden" #hidden placeholder="Visible"></mat-checkbox>&nbsp;Visible
        <hr />
        <div class="spacer20"></div>
        <button (click)="save()" mat-raised-button>Save</button>
        <div class="spacer20"></div>
        <div *ngIf="ui.saveSuccess">
          <div class="spacer20"></div>
          Save Success
        </div>
      </form>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="ui.showDelete">
  <div class="overlay-content">
    <span (click)="deleteClose()" class="close">X</span>
    <h3 class="fa icon-trash-empty">Display&nbsp;Part</h3>
    <p>{{dataSetToDelete.title}}</p>
    <hr />
    <div class="container-flex">
      <h2>This Display Part will be deleted permanently. Are you sure?</h2>
      <div class="spacer"></div>
      <div style="display:flex;justify-content:  space-between" *ngIf="!ui.deleteSuccess">
        <button class="delete-button" (click)="delete()" mat-raised-button>Delete</button>
        <button class="abort-button" (click)="dataSetToDelete = null;ui.showOverlay = false;" mat-raised-button>Abort</button>
      </div>
      <div *ngIf="ui.deleteSuccess">
        Delete Success
      </div>
    </div>
  </div>
</div>
