<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'login': (router.url == '/' || router.url == 'login')}">
  <nav *ngIf="user.isLoggedIn">
    <img class="logo" alt="Grohe Logo" src="/assets/images/grohe_logo.png">
    <ul *ngIf="ui.view == 'customer'">
      <li>
        <a>Order</a>
      </li>
      <li>
        <a>Display Request</a>
      </li>
    </ul>
    <ul *ngIf="ui.view == 'admin'">
      <li>
        <a>User Account Request</a>
      </li>
      <li>
        <a>Frontpage</a>
      </li>
      <li>
        <a href="/displayCompose" routerLink="/displayCompose">Display Compose</a>
      </li>
      <li>
        <a>Display Parts</a>
      </li>
      <li>
        <a>Articles</a>
      </li>
      <li>
        <a>Topsign</a>
      </li>
      <li>
        <a>Orders</a>
      </li>
      <li>
        <a>User</a>
      </li>
    </ul>
  </nav>
  <header [ngClass]="{'login': (router.url == '/' || router.url == 'login')}" >

      <div class="span6">
        <img *ngIf="!user.isLoggedIn" class="logo" alt="Grohe Logo" src="/assets/images/grohe_logo.png">
        <h2>Display Factory</h2>
      </div>
      <div *ngIf="user.isLoggedIn" class="span6">
        <p class="right">Angemeldet als: Vanessa Wittmer<span></span></p>
        <p (click)="user.logout()" class="right">logout</p>
      </div>
      <div class="spacer20 clear"></div>
      <div *ngIf="user.isLoggedIn && router.url != 'login' && router.url != '/'" class="span6">
        <p><span (click)="ui.view = 'customer'" [ngClass]="{'active': ui.view == 'customer'}" class="button">Customer View</span><span (click)="ui.view = 'admin'" [ngClass]="{'active': ui.view == 'admin'}" class="button">Admin View</span></p>
      </div>
  </header>
  <div class="main" [style.height.px]="mainheight">
    <router-outlet></router-outlet>
  </div>
  ###{{error.errors}}###
  <div *ngIf="error.errors.length" class="messages">
    <p *ngFor="let error of error.errors">{{error}}</p>
  </div>
</div>
