<div *ngIf="!headervisible" class="stickyheader">
  <div class="blue">
    <img alt="Grohe Logo" src="/assets/images/grohe_logo.png">
  </div>
  <div class="gradient"></div>
</div>
<div #wrapper (scroll)="wrapperScrolls()" id="wrapper" [ngClass]="{'login': (router.url == '/' || router.url == '/login' || router.url == '/register'), 'pad': (res.width < 1000)}">
  <nav *ngIf="user.isLoggedIn" [ngClass]="{'open': navopen}" [ngStyle]="navstyle">
    <div *ngIf="user.isLoggedIn && router.url != 'login' && router.url != '/' && res.width < 1000" >
      <p><span (click)="ui.view = 'customer'" [ngClass]="{'active': ui.view == 'customer'}" class="button">Customer View</span></p>
      <div class="spacer20"></div>
      <p><span (click)="ui.view = 'admin'" [ngClass]="{'active': ui.view == 'admin'}" class="button">Admin View</span></p>
      <div class="spacer20"></div>
    </div>
    <ul *ngIf="ui.view == 'customer'">
      <li>
        <a>Order</a>
      </li>
      <li>
        <a>Display Request</a>
      </li>
    </ul>
    <ul *ngIf="ui.view == 'admin'">
      <li>
        <a href="/userRequests" routerLink="/userRequests">User Account Request</a>
      </li>
      <li>
        <a>Frontpage</a>
      </li>
      <li>
        <a href="/displayCompose" routerLink="/displayCompose">Display Compose</a>
      </li>
      <li>
        <a>Display Parts</a>
      </li>
      <li>
        <a>Articles</a>
      </li>
      <li>
        <a>Topsign</a>
      </li>
      <li>
        <a>Orders</a>4
      </li>
      <li>
        <a>User</a>
      </li>
    </ul>
    <span *ngIf="!navopen" (click)="openclosenav()" class="openclose icon-right-open"></span>
    <span *ngIf="navopen" (click)="openclosenav()" class="openclose icon-left-open"></span>
  </nav>
  <header [ngClass]="{'login': (router.url == '/' || router.url == 'login')}" >
      <div class="hleft left">
        <img class="logo" alt="Grohe Logo" src="/assets/images/grohe_logo.png">
      </div>
      <div *ngIf="user.isLoggedIn" class="hmiddle tright">
        <span (click)="ui.view = 'customer'" [ngClass]="{'active': ui.view == 'customer'}" class="button">Customer View</span>
        <span (click)="ui.view = 'admin'" [ngClass]="{'active': ui.view == 'admin'}" class="button">Admin View</span>


      </div>
      <div *ngIf="user.isLoggedIn" class="hright tright">
        <p>{{user.initials}}<span class="pointer">{{user.data.name.value}} {{user.data.surname.value}}</span><span (click)="userInfoOpen = ! userInfoOpen" class="icon-down-open-1"></span>
        </p>
      </div>
      <div *ngIf="userInfoOpen" class="user-info">
        <span class="pointer" (click)="user.logout()">logout<</span>
      </div>
  </header>
  <div class="main" >
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="error.errors.length" class="messages">
    <p *ngFor="let error of error.errors">{{error}}</p>
  </div>
</div>
