<div [ngClass]="{'open': navopen}" #wrapper (scroll)="wrapperScrolls()" id="wrapper" [ngClass]="{'login': (router.url == '/' || router.url == '/login' || router.url == '/register'), 'pad': (res.width < 1000)}">

  <nav *ngIf="user.isLoggedIn && navopen"  [ngStyle]="navstyle">
    <img class="logo" alt="Grohe Logo" src="/assets/images/grohe_logo.png">
    <span (click)="openclosenav()" class="openclose fa icon-menu"></span>

    <ul *ngIf="ui.view == 'customer'">
      <li>
        <a>Order</a>
      </li>
      <li>
        <a>Display Request</a>
      </li>
    </ul>

    <ul *ngIf="ui.view == 'admin'">
      <li [ngClass]="{'active': (router.url == '/userRequests')}">
        <a href="/userRequests" routerLink="/userRequests">User Account Request</a>
      </li>
      <li>
        <a>Frontpage</a>
      </li>
      <li>
        <a href="/displayCompose" routerLink="/displayCompose">Display Compose</a>
      </li>
      <li>
        <a [ngClass]="{'active': (router.url == '/displayParts')}" href="/displayParts" routerLink="/displayParts">Display Parts</a>
      </li>
      <li>
        <a>Articles</a>
      </li>
      <li>
        <a>Topsign</a>
      </li>
      <li>
        <a>Orders</a>
      </li>
      <li>
        <a>User</a>
      </li>
      <li>{{res.width}}/{{res.height}}</li>
    </ul>
  </nav>
  <header *ngIf="router.url != '/' && router.url != '/login' && router.url != '/register'" [ngClass]="{'login': (router.url == '/' || router.url == 'login')}" >
    <div class="hwrapper">
      <div *ngIf="user.isLoggedIn" class="hleft tright">
        <p>
          <span *ngIf="!navopen" (click)="openclosenav()" class="openclose fa icon-menu"></span>
          <span (click)="ui.view = 'customer'" [ngClass]="{'active': ui.view == 'customer'}" class="button">Customer View</span>
          <span (click)="ui.view = 'admin'" [ngClass]="{'active': ui.view == 'admin'}" class="button">Admin View</span>
        </p>
      </div>
      <div *ngIf="user.isLoggedIn" class="hright tright">
        <p><span class="initals">{{user.initials}}</span><span class="pointer">{{user.data.name.value}} {{user.data.surname.value}}</span><span (click)="userInfoOpen = ! userInfoOpen" class="icon-down-open-1"></span>
        </p>
      </div>
      <div *ngIf="userInfoOpen" class="user-info">
        <span class="pointer" (click)="user.logout()">logout<</span>
      </div>
    </div>
  </header>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="error.errors.length" class="messages">
    <p *ngFor="let error of error.errors">{{error}}</p>
  </div>
</div>
