<div class="content boxshadow" dpfContent>
    <h2>Users <i class="fa icon-plus-1 new" (click)="showNew()">Add new</i></h2>
    <div class="dpfoverflowwrapper" dpfOverflowWrapper>
      <div class="spacer20"></div>
      <table>
        <tr>
          <td>
            <i class="fa icon-search"></i><input placeholder="name" (ngModelChange)="filter.name=$event;filterChanges();" (click)="$event.stopPropagation()" [(ngModel)]="filter.name" class="filter" type="text"  name="nameFilter" >
          </td>
        </tr>
      </table>

        <table mat-table matSort [dataSource]="dataSource" >
          <ng-container matColumnDef="name">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Name
              </th>
            <td mat-cell *matCellDef="let PromotionImage"> {{PromotionImage.name}} </td>
          </ng-container>

          <ng-container matColumnDef="image_id">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Image
              </th>
            <td mat-cell *matCellDef="let PromotionImage"> <img src="{{getImage(PromotionImage.image_id)}}" /></td>
          </ng-container>
          <ng-container matColumnDef="active">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Active
            </th>
            <td mat-cell *matCellDef="let PromotionImage"> {{PromotionImage.active}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Edit
            </th>
            <td class="edit" (click)="ui.doShowEditNew();setCurrentDataSet(part);" mat-cell *matCellDef="let part"> <i class="fa icon-edit edit"></i> </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>
              Delete
            </th>
            <td class="edit" (click)="showDelete(part)" mat-cell *matCellDef="let part"> <i class="fa icon-trash-empty delete"></i> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let part; columns: columnsToDisplay"></tr>
        </table>
      </div>
  </div>
  <div class="overlaybg" *ngIf="ui.showOverlay"></div>
  <div class="overlay" *ngIf="ui.showEditNew">
    <div class="overlay-content">
      <span (click)="currentDataSet = null;ui.doCloseEditNew()" class="close"><i class="fa icon-cancel"></i></span>
      <h3 class="fa icon-edit">Promotion Image</h3>
      <p>{{currentDataSet.name}}</p>
      <hr />
      <div class="container-flex">
        <form name="promotionImageForm" [formGroup]="promotionImageForm">
          <div class="spacer20"></div>
          <img (click)="selectImage();" src="{{getImage(this.currentDataSet.image)}}" class="display" />
          <mat-form-field>
            <input type="text" formControlName="name" matInput name="name" #name placeholder="Name*">
            <mat-error [hidden]="name.valid || name.pristine">required</mat-error>
          </mat-form-field>

          <p>Active:<span style="float:right;" [ngClass]="{'active':(currentDataSet.active == 1)}" class="icon-ok" (click)="activeChange()">&nbsp;</span><p>
          <hr />
          <div class="spacer20"></div>
          <button (click)="save()" mat-raised-button>Save</button>
          <div class="spacer20"></div>
          <div *ngIf="ui.saveSuccess">
            <div class="spacer20"></div>
            Save Success
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="overlay" *ngIf="ui.showDelete">
    <div class="overlay-content">
      <span (click)="deleteClose()" class="close"><i class="fa icon-cancel">X</i></span>
      <h3 class="fa icon-trash-empty">User</h3>
      <p>{{dataSetToDelete.name}}</p>
      <hr />
      <div class="container-flex">
        <h2>This Promotion Image will be deleted permanently. Are you sure?</h2>
        <div class="spacer"></div>
        <div style="display:flex;justify-content:  space-between" *ngIf="!ui.deleteSuccess">
          <button class="delete-button" (click)="delete()" mat-raised-button>Delete</button>
          <button class="abort-button" (click)="dataSetToDelete = null;ui.showOverlay = false;" mat-raised-button>Abort</button>
        </div>
        <div *ngIf="ui.deleteSuccess">
          Delete Success
        </div>
      </div>
    </div>
  </div>
