/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/fontello.css";
@import "assets/css/fontello-codes.css";

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.spacer20{
  height:20px;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
html{
  height:100%;
  width:100%;
}

body{
  height:100%;
  width:100%;

  background-color: #e9e9e9;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
}

a{
    color: #3784c0;
    text-decoration: none;
    outline: 0px;
}

h1{
  margin:0px;
  padding:0px;
}

ul{
  padding: 0 0 0 20px;
}

hr{
  border:0;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin:10px 0;
}

th{
  white-space: nowrap;
}
body th.mat-header-cell, td{
  padding: 0 5px;
}

.right{
  float:right;
}

.row{
  clear:both;
}

.span4{
  float:left;
  width:33.333%;
}

.span6{
  float:left;
  width:50%;
  padding-right:20px;
}

.span8{
  float:left;
  width:66.666%;
  padding-right:20px;
}

.clear{
  clear:both;
}

.tright{
    text-align:right;
}

.mt{
  margin-top:20px;
}

.mb{
  margin-bottom:20px;
}

.edit, .pointer{
  cursor:pointer;
}

.hr{
  border-bottom: 1px solid #112038;
}

.overlaybg{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background: rgba(255,255,255, 0.8);
  z-index:48;
}

.overlay{
  position:fixed;
  top:0px;
  left:0px;
  padding:20px;
  height:100%;
  width:100%;
  color:#000;
  z-index:50;
  padding:20px;
}

.overlay-content{
  padding:20px;
  height:100%;
  width:100%;
  background: rgba(255,255,255, 1);
}

.close{
  float:right;
  margin: -5px -5px 0 0;
  cursor:pointer;
  display:block;
  height:20px;
  width:20px;
  background-color:#FFF;
  border-radius:5px;
  text-align:center;
  line-height:20px;
}

body, header, nav{
  background-color: #112038;
}
header, nav{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  position:fixed;
  z-index:10;
}



img.logo{
  height:60px;
  margin:0 0 20px 0;
}


nav{
  position:fixed;
  height:100%;
  width:260px;
  z-index:15;
  padding:20px;
  margin-left:-240px;
}

.open nav{
  margin-left:0px;
}

nav ul{
  padding:40px 0 0 20px;
  line-height: 30px;
}

nav .button{
  width:100%;
  display:block;
}

nav .openclose{
  float:right;
  line-height:20px;
}

header .openclose{
  float:left;
  line-height:60px;
}

header{
  height:80px;
  width:100%;
}

.hwrapper{
  width:100%;
  /*min-width:440px;*/
  padding: 0 20px;
}

.open .hwrapper{
  padding-left: 260px;
  min-width:720px;
}

header .hleft{
  float:left;
}


header p{
  line-height: 60px;
}

header .hright{
  float:right;
}

header .hright p{
    line-height: 80px;
}

#wrapper{
  height:100%;
  width:100%;
  position:fixed;
  /* overflow-y: scroll;*/
}

#wrapper.login{
  background-color: #e9e9e9;
}

.main{
  padding:100px 20px 20px 60px;
  width:100%;

  margin-left: -20px;
  min-height:100%;
  height:100% !important;
  -webkit-overflow-scrolling: touch;
  font-size:100%;
  line-height:200%;
  background-color: #e9e9e9;
  overflow-x: hidden;
}

.open .main{
  padding:100px 20px 20px 300px;
}

.main h2{
  padding:10px;
  background-color:#e9e9e9;
}

.login{
  height:100% !important;
}

.login .main{
  width:100%;
  padding:20px;
  margin:0px;
}

nav .logo{
  margin-bottom: 20px;
}

nav ul{
  list-style-type: none;
}

nav ul ul{
  margin-top:0px;
}

nav ul li{
  padding:5px;
  cursor: pointer;
}

nav ul li a{
  color: #fff;
}

nav ul li:hover a, nav ul li.active a{
  font-weight:bold;
}
nav ul li:hover a:before, nav ul li.active a:before{
  content: '\e802';
  font-family: "fontello";
  position:absolute;
  margin-left:-20px;
  color:#3084b9;
  font-weight:bold;
  font-size:40px;
}


nav ul li:hover a{

}

h2{
  font-size: 20px;
  line-height: 22px;
  font-weight:normal;
}



header .button{
  line-height: 54px;
  display:inline-block;
  cursor:pointer;
  margin: 0px 10px 0 0;
  padding:0 10px;
}


header .initals{
  display:inline-block;
  line-height: 40px;
  border-radius: 20px;
  background-color:#3184b9;
  height:40px;
  width:40px;
  margin:10px;
  text-align:center;
  font-weight:bold
}

header .hright .user-info{
  position:absolute;
  background-color: #FFF;
  padding:20px;
  color:#000;
  right:20px;
  top:70px;
  border-radius:5px;
  text-align: left;
}

header .hright .user-info p{
  line-height: 30px;
  font-size: 14px;
}

header .hright .user-info span{
  vertical-align: top;
}

header .hright .user-info span.usertype{
  font-size: 12px;
  margin:5px 0 10px;
  line-height:26px;
}
header .hright .user-info .initals{
  margin:0px 10px 0 0;
  color:#FFF;
  float:left;
}

header .button:hover, header .button.active{
  border-top: 3px solid #3184b9;
}

header .button.active{
  font-weight:bold;
}

header.login .span6{
  width:100%;
}

.content{
  height:100%;
  padding-bottom: 45px;
}

.dpfoverflowwrapper{
  overflow:auto;
  height:100%;

}
.boxshadow{
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(255, 255, 255, 1);
  color:#000000;
}

.blue{
    background-color: #112038;
}

.messages{
  position:fixed;
  top:10px;
  left:10px;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color:#3784c0;
}
.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color:#3784c0;
}

.mat-form-field {
  width:100%;
  max-width:300px;
  display:block !important;
}

.parts{
  list-style-type: none;
  margin: 5px 0;
}

/* TRANSITIONS */
/*
nav{
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}

header, .main{
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
}
*/
/* RESULOTION < 1000 px width */
/*
.pad nav{
  margin-left: -230px;
}

.pad header{

}

.pad .main{
  padding: 20px;
}
*/
.hidegt800{
  display:none;
}

.lowwidth{
  display:none;
}

.highwidth{
  display:inline;
}
@media screen and (max-width: 800px) {
  .open .main{
    padding:100px 20px 20px 60px;
  }

  .main .span4{
    width:50%;
    margin-bottom: 20px;
  }

  .hidelt800{
    display:none;
  }

  .hidegt800{
    display:block;
  }
  nav{
    position:fixed
  }

  .open .hwrapper {
    padding-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .main .span4{
    width:100%;
  }

  div.logo img {
      width: 100px;
  }

  header{

  }
  header .left{
    display:none;
  }

  header .span6{
    width:100%;
  }
  .lowwidth{
    display:inline;
  }
  .highwidth{
    display:none;
  }
}
@media screen and (max-width: 400px) {
  div.clogin{
    margin:0 auto ;
    width:100%;
    height:550px;
    max-width:100%;
  }

  .login .main{
    padding:0px;
  }
}
