<div class="content boxshadow" dpfContent>
  <h2>Display Parts <i class="fa icon-plus-1 new" (click)="showNew()">Add new</i></h2>
  <div class="dpfoverflowwrapper" dpfOverflowWrapper>
    <div class="spacer20"></div>
      <table *ngIf="dataSource" mat-table matSort [dataSource]="dataSource" >
        <ng-container matColumnDef="title">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let part"> {{part.title}} </td>
        </ng-container>

        <ng-container matColumnDef="articlenr">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Articel Number </th>
          <td mat-cell *matCellDef="let part"> {{part.articlenr}} </td>
        </ng-container>

        <ng-container matColumnDef="open_format">
          <th  mat-header-cell *matHeaderCellDef> Open Format </th>
          <td mat-cell *matCellDef="let part"> {{part.open_format}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th  mat-header-cell *matHeaderCellDef> Stock </th>
          <td mat-cell *matCellDef="let part"> {{part.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th  mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let part"> {{part.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="deleted">
          <th  mat-header-cell *matHeaderCellDef> Hidden </th>
          <td mat-cell *matCellDef="let part"> {{part.deleted}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td class="edit" (click)="setCurrentDataSet(part)" mat-cell *matCellDef="let part"> <i class="fa icon-edit edit"></i> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td class="edit" (click)="showDelete(part)" mat-cell *matCellDef="let part"> <i class="fa icon-trash-empty delete"></i> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let part; columns: columnsToDisplay"></tr>
      </table>
    </div>
</div>
<div class="overlaybg" *ngIf="ui.showOverlay"></div>
<div class="overlay" *ngIf="currentDataSet">
  <div class="overlay-content">
    <span (click)="currentDataSet = null;ui.showOverlay = false" class="close">X</span>
    <h3 class="fa icon-edit">Display&nbsp;Part</h3>
    <p>{{currentDataSet.title}}</p>
    <hr />
    <div class="container-flex">
      <form name="displayPartForm" [formGroup]="displayPartForm">
        <div class="spacer20"></div>
        <mat-form-field>
          <input type="text" formControlName="title" matInput name="title" #title placeholder="Title*">
          <mat-error [hidden]="title.valid || title.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="articlenr" matInput name="articlenr" #articlenr placeholder="Articlenr*">
          <mat-error [hidden]="articlenr.valid || articlenr.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="open_format" matInput name="open_format" #open_format placeholder="Open Format">
          <mat-error [hidden]="articlenr.valid || articlenr.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="stock" matInput name="stock" #stock placeholder="Stock">
          <mat-error [hidden]="articlenr.valid || articlenr.pristine">required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" formControlName="weight" matInput name="weight" #weight placeholder="Weight">
          <mat-error [hidden]="articlenr.valid || articlenr.pristine">required</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="deleted" matInput name="deleted" #deleted placeholder="Visible"></mat-checkbox>&nbsp;Visible
        <hr />
        <div class="spacer20"></div>
        <button (click)="save()" mat-raised-button>Save</button>
        <div class="spacer20"></div>
        <div *ngIf="ui.saveSuccess">
          <div class="spacer20"></div>
          Save Success
        </div>
      </form>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="dataSetToDelete">
  <div class="overlay-content">
    <span (click)="deleteClose()" class="close">X</span>
    <h3 class="fa icon-trash-empty">Display&nbsp;Part</h3>
    <p>{{dataSetToDelete.title}}</p>
    <hr />
    <div class="container-flex">
      <h2>This Display Part will be deleted permanently. Are you sure?</h2>
      <div class="spacer"></div>
      <div style="display:flex;justify-content:  space-between" *ngIf="!ui.deleteSuccess">
        <button class="delete-button" (click)="delete()" mat-raised-button>Delete</button>
        <button class="abort-button" (click)="dataSetToDelete = null;ui.showOverlay = false;" mat-raised-button>Abort</button>
      </div>
      <div *ngIf="ui.deleteSuccess">
        Delete Success
      </div>
    </div>
  </div>
</div>
