<div class="order boxshadow">
  <h2>Display Parts</h2>
  <div class="spacer20"></div>
  {{displayParts}}
  <table *ngIf="displayParts" mat-table [dataSource]="displayParts">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let part"> {{part.title}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let part"> {{part.weight}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let part; columns: columnsToDisplay"></tr>
  </table>
</div>
