<div class="clogin">
  <div class="boxshadow">
    <div class="blue">
      <img class="logo" alt="Grohe Logo" src="/assets/images/grohe_logo.png">
    </div>
    <h2>Display Factory Password Reset</h2>
    <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="spacer20"></div>
      <p>Forgot your password?<br />
        Enter your E-Mail-address. We will send you an E-Mail with a new password.</p>
      <mat-form-field>
        <input type="email" formControlName="email" matInput name="email" #email placeholder="E-Mail">
        <mat-error [hidden]="email.valid || email.pristine">Please fill in a valid email address</mat-error>
      </mat-form-field>

      <div class="spacer20"></div>
      <button type="submit" mat-raised-button>Get new Password</button>
      <div class="spacer20"></div>
      <p class="mat-error" *ngIf="(errorString !== '' && !success)">{{errorString}}</p>
      <p *ngIf="(success)">Your new Password has been sent to you by mail.</p>
    </form>
    <div  class="spacer20"></div>
    <a routerLink="/login" href="/login">back to login</a>

  </div>
  <div class="tright">
      <a routerLink="/register" href="/register">register</a>
  </div>
</div>
